.dark-blue {
    background-color: #1F364A;
}

.dark-blue-color {
    color: #1F364A;
}

.software-card-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.dark-blue-btn {
    background-color: #1F364A;
    color: #fff;
}

.dark-blue-btn:hover {
    background-color: #fff;
    border-color: #1F364A;
    color: #1F364A;
}

.not-found-alert {
    width: 100%;
}

.dark-blue-border {
    border-color: #1F364A;
    color: #1F364A;
}

.dark-blue-border:hover {
    border-color: #1F364A;
    background-color: #1F364A;
    color: #ffffff;
}
