{% extends 'base.html' %}

{% block title %}Список ПО для установки{% endblock %}

{% block content %}
    <br>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="text" type="text"><br><br>
        <input type="submit" value="Поиск">
    </form>

    <ul>
        {% for service in data.services %}
            <li>
                <img src="{{ service.logo_file_name }}"
                     alt="{{ service.logo_file_name }}" width="100px">

                <a href="{% url 'service_url' service.id %}">{{ service.title }}</a>
                Цена: {{ service.price }} руб.
            </li>
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
    </ul>
    <br>
    <br>

    <a href="{% url 'order' 0 %}">Корзина ({{ data.count }})</a>
{% endblock %}