{% extends 'base.html' %}

{% block title %}{{ data.software.title }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h2>{{ data.software.title }}</h2>
            <p class=""><strong>Цена установки:</strong> {{ data.software.price }} руб.</p>
            <p class=""><strong>Время установки:</strong> {{ data.software.installing_time_in_mins }} мин.</p>
            <p class=""><strong>Размер:</strong> {{ data.software.size_in_bytes }} Б.</p>
            <p class="py-2"><strong>Описание</strong></p>
        </div>
        <div class="col">
            <img src="{{ data.software.logo_file_path }}" alt="{{ data.software.logo_file_path }}"
                 width="200px">
        </div>
    </div>
    <p>{{ data.software.description }}</p>
{% endblock %}
