{% extends 'base.html' %}
{% load static %}

{% block title %}Список ПО для установки{% endblock %}

{% block content %}
    <form action="" method="get" class="d-flex mt-4 mb-4">
        <div class="flex-grow-1">
            <input class="form-control" placeholder="Поиск" aria-label="Поиск" name="software_title" type="text"
                   value="{{ data.software_title }}">
        </div>
        <div class="px-3">
            <input type="submit" class="btn dark-blue-btn ml-3 mr-3" value="Поиск">
        </div>
        <div class="">
            <a href="{% url 'install_software_request' data.request_id %}"
               class="btn dark-blue-border {% if data.items_in_cart == 0 %}inactive-cart{% endif %}">
                {{ data.items_in_cart }}
                <img src="{% static 'img/cart.png' %}" width="25" alt="cart">
            </a>
        </div>
    </form>
    <form method="post" action="{% url 'add_software_to_cart' %}">
        {% csrf_token %}
        <div class="row row-cols-1 row-cols-md-2
                    row-cols-lg-4 g-4">

            {% for software in data.software_list %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ software.logo_file_path }}" class="card-img-top software-card-img"
                             alt="{{ software.logo_file_path }}"
                        >
                        <div class="card-body">
                            <h5 class="card-title">{{ software.title }}</h5>
                            <p class="card-text">{{ software.summary }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Цена: <strong>{{ software.price }} руб.</strong></li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'software' software.id %}" class="btn dark-blue-btn mb-2">Узнать
                                подробнее</a>
                            <button class="btn dark-blue-btn" name="add_to_cart" value="{{ software.id }}">Добавить в
                                заявку
                            </button>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-danger not-found-alert" role="alert">
                    ПО по запросу не найдено. <a href="{% url 'software_list' %}" class="alert-link">Полный список</a>
                </div>
            {% endfor %}
        </div>
    </form>
    <div class="py-3"></div>
{% endblock %}
